## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [1]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [3]:
# since the string we are trying to achieve contains only elements of the second half of the given string: 
# we need to find the correct startpoint to match the word given above. that's why rfind is used. 

x = x[x.rfind('Di'):].capitalize().replace(' ', '')
print(x)

Dichlorodiphenyltrichloroethane

In [4]:
# fun version using regex to find the correct starting point.

import re

y = re.findall('Di[cC]h[\w ]+$', x)
print(''.join(y).capitalize().replace(' ', ''))

Dichlorodiphenyltrichloroethane

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [5]:
A, B, C, D = 'word', 15, 3.14, 'list'
print(A, B, C, D, sep=' ')

word 15 3.14 list

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [7]:
x = input('Enter your weight(in kg) and height(in m) as floating point numbers separated by a space')
w, h = float(x.split()[0]), float(x.split()[1])
bmi = w / h ** 2
print(bmi)

Enter your weight(in kg) and height(in m) as floating point numbers separated by a space 72 1.8

22.22222222222222

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [8]:
if bmi < 18.5:
    print('underweight')
elif 18.5 < bmi < 24.9:
    print('normal weight')
elif 25.0 < bmi < 29.9:
    print('pre-obesity')
elif 30.0 < bmi < 34.9:
    print('obesity class I')
elif 35.0 < bmi < 39.9:
    print('obesity class II')
else:
    print('obesity class III')

normal weight

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [9]:
i = input('enter an integer')
y = 1
for x in range(1, int(i) + 1):
    y *= x
print(y)

enter an integer 8

40320

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [10]:
su = []
while True:
    x = int(input('enter an integer'))
    su.append(x)
    if x == -1:
        break
print(su, sum(su[:len(su) - 1]))

enter an integer 2
enter an integer 3
enter an integer 4
enter an integer 5
enter an integer 1
enter an integer 8
enter an integer -1

[2, 3, 4, 5, 1, 8, -1] 23

In [11]:
# alternate version
su = 0
while True:
    x = int(input('enter an integer'))
    if x == -1:
        break
    su += x
print(su)

enter an integer 2
enter an integer 3
enter an integer 4
enter an integer 5
enter an integer 1
enter an integer 8
enter an integer -1

23

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [12]:
x = input('Enter the first name of an employee, his amount of hours worked and the salary per hour separated by commas.')
name, amh, sah = x.split(',')[0], float(x.split(',')[1]), float(x.split(',')[2])
totalsal = round(amh * sah, 2)
print(f'{name} has a total salary of {totalsal}')

Enter the first name of an employee, his amount of hours worked and the salary per hour separated by commas. Thomas,78.50,88.98

Thomas has a total salary of 6984.93

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [13]:
inp = input('Enter three floats separated by a space') 
A, B, C = float(inp.split()[0]), float(inp.split()[1]), float(inp.split()[2])

Enter three floats separated by a space 3.5 6.8 2.9

    a) the area of the triangle rectangle with A as the base and C as the height.

In [14]:
areatri = (A * C) * 0.5
print(areatri)

5.075

    b) the area of the circle of radius C. (pi = 3.14159)

In [15]:
pi = 3.14159
areacirc = pi * (C ** 2)
print(areacirc)

26.4207719

    c) the area of the trapezoid that has A and B for bases and C for height.

In [16]:
areatrap = (C/2) * (A + B) 
print(areatrap)

14.935

    d) the area of the square that has side B.

In [17]:
areasquare = B ** 2
print(areasquare)

46.239999999999995

    e) the area of the rectangle that has sides A and B.

In [18]:
arearect = A * B
print(arearect)

23.8

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [19]:
inp1 = input('Enter three values separated by a space')
a, b, c = float(inp1.split()[0]), float(inp1.split()[1]), float(inp1.split()[2])
d = b ** 2 - 4*a*c
x1 = (-b + d ** (1/2))/(2 * a)
x2 = (-b - d ** (1/2))/(2 * a)
if a == 0:
    print('The equation is now linear, not quadratic, as there is no ax^2 term.')
else:
    if d < 0:
        print('There are no real roots')
    elif d == 0:
        print(f'There is one solution which is {x1}') #since x1 == x2 is true.
    else:
        print(f'There are two solutions which are {x1} and {x2}')

Enter three values separated by a space 2.5 16.3 4.6

There are two solutions which are -0.29561136151145 and -6.22438863848855

In [20]:
# alternate version importing math module

import math

inp1 = input('Enter three values separated by a space')
a, b, c = float(inp1.split()[0]), float(inp1.split()[1]), float(inp1.split()[2])
d = b ** 2 - 4*a*c
x1 = (-b + math.sqrt(d))/(2 * a)
x2 = (-b - math.sqrt(d))/(2 * a)
if a == 0:
    print('The equation is now linear, not quadratic, as there is no ax^2 term.')
else:
    if d < 0:
        print('There are no real roots')
    elif d == 0:
        print(f'There is one solution which is {x1}') #since x1 == x2 is true.
    else:
        print(f'There are two solutions which are {x1} and {x2}')

Enter three values separated by a space 2.5 16.3 4.6

There are two solutions which are -0.29561136151145 and -6.22438863848855

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [21]:
import math

inp1 = input('Enter the coordinates of the first point as floating point numbers separated by a space').split()
inp2 = input('Enter the coordinates of the second point as floating point numbers separated by a space').split()
x1, y1 = float(inp1[0]), float(inp1[1]) 
x2, y2 = float(inp2[0]), float(inp2[1]) 
print(f'The distance of the two points is {math.sqrt((x1 - x2) ** 2 + (y1 - y2) ** 2)}')

Enter the coordinates of the first point as floating point numbers separated by a space 2.4 5.6
Enter the coordinates of the second point as floating point numbers separated by a space 6.7 8.9

The distance of the two points is 5.420332093147062

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [22]:
inp = input('Enter the coordinates of a point as floating point numbers separated by a space.').split()
x, y = float(inp[0]), float(inp[1])
if x == 0 and y == 0:
    print('origin')
elif x == 0:
    print('y axis')
elif y == 0:
    print('x axis')
else:
    if x > 0 and y > 0:
        print('q1')
    elif x < 0 and y > 0:
        print('q2')
    elif x < 0 and y < 0:
        print('q3')
    elif x > 0 and y < 0:
        print('q4')

Enter the coordinates of a point as floating point numbers separated by a space. 3.5 0.3

q1

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [1]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

In [23]:
phoco = {'Austria':43,
'Belgium':32,
'Bulgaria':359,
'Croatia':385,
'Cyprus':357,
'Czech Republic':420,
'Denmark':45,
'Estonia':372,
'Finland':358,
'France':33,
'Germany':49}
inp = int(input('Enter a phone code.'))
for a in phoco:
    if phoco[a] == inp:
        print(a)
if inp not in phoco.values():
    print('not available')

Enter a phone code. 43

Austria

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [26]:
# version 1
numb = []
for a in range(6):
    inp = float(input('Enter a number'))
    numb.append(inp)
count = 0
for nu in numb:
    if nu > 0:
        count += 1
print(f'Positive numbers entered: {count}' + '\n' + f'Average of the values: {round(sum(numb)/len(numb), 1)}')

Enter a number 3
Enter a number 4
Enter a number -5
Enter a number 6
Enter a number -7
Enter a number 1

Positive numbers entered: 4
Average of the values: 0.3

In [27]:
# version 2
inp = input('Enter 6 numbers in a row spearated by a space').split()
inp1 = [] 
count = 0
for nu in inp:
    nu = int(nu)
    inp1.append(nu)
    if nu > 0:
        count += 1
print(f'Positive numbers entered: {count}' + '\n' + f'Average of the values: {round(sum(inp1)/len(inp1), 1)}')

Enter 6 numbers in a row spearated by a space 3 4 -5 6 -7 1

Positive numbers entered: 4
Average of the values: 0.3

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [28]:
inp = int(input('Enter an integer'))
for a in range(1, inp + 1):
    if a % 2 == 0:
        print(a ** 2, end='\n')

Enter an integer 9

4
16
36
64

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [29]:
inp = int(input('Enter an integer'))
cl1 = ''
cl2 = ''
if inp == 0:
    print('null')
    
if inp > 0:
    cl1 = 'positive'
else:
    cl1 = 'negative'
    
if inp % 2 == 0:
    cl2 = 'even'
else:
    cl2 = 'odd'
print(f'{cl1} {cl2}')

Enter an integer -6

negative even

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.

In [30]:
# bubble sort problem
# version 1 generating random numbers by random module
import random
mylist1 = []
for b in range(6):
    y = random.randint(-10, 10)
    mylist1.append(y)


while True:
    ct = 0
    for a in range(len(mylist1) - 1):
        if mylist1[a] > mylist1[a + 1]:
            mylist1[a], mylist1[a + 1] = mylist1[a + 1], mylist1[a]
            ct += 1
    if ct == 0:
        break

for el in mylist1:
    print(el, end=' ')

-10 -9 -2 1 2 10

In [31]:
# bubble sort problem
# version 2 entering numbers myself
inp = input('Enter 6 integers in random order separated by a space').split()

while True:
    ct = 0
    for a in range(len(inp) - 1):
        if int(inp[a]) > int(inp[a + 1]):
            inp[a], inp[a + 1] = inp[a + 1], inp[a]
            ct += 1
    if ct == 0:
        break

for el in inp:
    print(el, end=' ')

Enter 6 integers in random order separated by a space 34 -10 100 45 2 230

-10 2 34 45 100 230